
@{
    //Layout = null;
    Layout = "~/Views/Shared/_BIPortalLayout.cshtml";
    ViewBag.Title = "View Pending Requests";
}
@model IEnumerable<BIPortal.Models.WorkFlowMasterModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewPendingRequest</title>

    <link href="~/Styles/Common/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/PendingRequests/Pending_RequestsStyles.css" type="text/css" rel="stylesheet" />
    @*<link href="~/Styles/MyProfile/MyProfile_Styles.css" type="text/css" rel="stylesheet" />*@

    @*<link href="~/Styles/Users/AddUser_Styles.css" type="text/css" rel="stylesheet" />*@
    <link href="~/Styles/WorkSpaces_Reports/ws_repos.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script language="JavaScript" type="text/javascript" src="~/Scripts/PendingRequests/ViewPendingRequests.js"></script>

    <script type="text/javascript">
        var getRequestDetailssurl = '@Url.Action("GetRequestDetails", "PendingRequests")';
        @*var approveRequesturl = '@Url.Action("ApproveRequest", "PendingRequests")';
        var rejectRequesturl = '@Url.Action("RejectRequest", "PendingRequests")';*@
        var selectedItems = [];
    </script>


</head>
<body>

    @using (Html.BeginForm())
    {

        <!-- Welcome out (Rectangle) -->
        <div id="u2022" class="ax_default label" data-label="Welcome out">
            <div id="u2022_div" class=""></div>
            <div id="u2022_text" class="text ">
                <p><span>Pending Requests</span></p>
            </div>
        </div>

        <div id="u790" class="ax_default table-wrapper-scroll-y my-custom-scrollbar" style="height:400px" data-label="User Panel">

            @if (Model != null && Model.Count() > 0)
            {
                <table id="tblViewPendingApprovals" class="table table table-bordered table-striped mb-0 table-hover">

                    <thead>
                        <tr>
                            <th style="display:none;">
                                @*@Html.DisplayNameFor(model => model.Name)*@
                                Request No.
                            </th>
                            <th style="text-align:left;">
                                @*@Html.DisplayNameFor(model => model.Name)*@
                                Request No.
                            </th>
                            <th style="text-align:left;">
                                @*@Html.DisplayNameFor(model => model.Id)*@
                                Pending From
                            </th>
                            <th style="text-align:left;">
                                From
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td style="display:none;">
                                    <input type="text" value="@item.RequestID" name="RequestID" />
                                </td>
                                @*<td style="display:none;">
                                        <input type="text" value="@item.RequestID" name="RoleName" />
                                    </td>*@
                                <td style="text-align:left;">
                                    <button type="button" class="btn btn-link btnViewPendingRequests">@item.RequestID</button>
                                </td>
                                <td style="text-align:left;">
                                    @Html.DisplayFor(modelItem => item.RequestedDate)
                                </td>
                                <td style="text-align:left;">
                                    @Html.DisplayFor(modelItem => item.RequestedBy)
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
            else
            {
                <div> No Pending Requests!</div>
            }
        </div>


        <!-- Workspace edit popup (Dynamic Panel) -->
        <div id="u33333" class="ax_default" data-label="Workspace edit popup" style="display:none;">
            <div id="u33333_state0" class="panel_state" data-label="State1" style="">
                <div id="u33333_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u334444" class="ax_default box_1">
                        <div id="u334444_div" class=""></div>
                        <div id="u334444_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Heading blue color (Rectangle) -->
                    <div id="u335" class="ax_default box_1">
                        <div id="u335_div" class=""></div>
                        <div id="u335_text" class="text ">
                            @*<label id="lblWorkspaceName" style="color:black" />*@
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    @*<div id="u336" class="ax_default label">
            <div id="u336_div" class=""></div>
            <div id="u336_text" class="text ">
            </div>
        </div>*@

                    <!-- Unnamed (Vertical Line) -->
                    @*<div id="u337" class="ax_default line">
            <img id="u337_img" class="img " src="~/Images/ws_reps/u337.svg" />
            <div id="u337_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>*@

                    <!-- Unnamed (Rectangle) -->
                    @*<div id="u338" class="ax_default label">
            <div id="u338_div" class=""></div>
            <div id="u338_text" class="text ">
                <p><span>Published</span></p><p><span>22nd July 2019</span></p>
            </div>
        </div>*@

                    <!-- Unnamed (Vertical Line) -->
                    @*<div id="u339" class="ax_default line">
            <img id="u339_img" class="img " src="~/Images/ws_reps/u337.svg" />
            <div id="u339_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>*@

                    <!-- Unnamed (Rectangle) -->
                    @*<div id="u340" class="ax_default label">
            <div id="u340_div" class=""></div>
            <div id="u340_text" class="text ">
                <p><span>Owner</span></p>
            </div>
        </div>*@

                    <!-- Unnamed (Rectangle) -->
                    @*<div id="u341" class="ax_default button">
            <div id="u341_div" class=""></div>
            <div id="u341_text" class="text ">

                <input id="btnSaveOwner" value="Save" type="button" class="btnSaveOwner" />
            </div>
        </div>*@

                    <!-- Unnamed (Image) -->
                    <div id="u342" class="ax_default image">
                        <img id="u342_img" class="img " src="~/Images/login/forgot_password_close_u18.png" />
                        <div id="u342_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- PurchaseWsPanel (Dynamic Panel) -->
                    <div id="u452" class="ax_default" data-label="PurchaseWsPanel" style="display:none">


                    </div>

                    <!-- Unnamed (Droplist) -->
                            @*<div id="u343" class="ax_default droplist">
                    <div id="u343_div" class=""></div>
                </div>*@
                </div>
            </div>
        </div>


    }



</body>

</html>
