
@{
    //Layout = null;
    Layout = "~/Views/Shared/_BIPortalLayout.cshtml";
    ViewBag.Title = "Dashboard";
}
@model List<BIPortal.Models.WorkFlowMasterModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administartion</title>
    <link href="~/Styles/Common/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Dashboard/Dashboard.css" type="text/css" rel="stylesheet" />

    <script language="JavaScript" type="text/javascript" src="~/Scripts/Dashboard/Dashboard.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/powerbi.js"></script>
    <script type="text/javascript">
        var getReportsAndEmbedUrl = '@Url.Action("GetReportsAndEmbedUrl", "Dashboard")';
        
    </script>
</head>

<body>
    <div id="base" class="">

        <!-- Welcome In (Rectangle) -->
        <div class="ax_default label" id="u30" data-label="Welcome In" style="visibility:hidden;">
            <div id="u30_div"></div>
            <div class="text " id="u30_text">
                <p><span>WELCOME</span></p>
            </div>
        </div>

        <!-- Welcome out (Rectangle) -->
        <div id="u50" class="ax_default label" data-label="Welcome out">
            <div id="u50_div" class=""></div>
            <div id="u50_text" class="text ">
                <p><span>WELCOME</span></p>
            </div>
        </div>
        <div id="u300" class="ax_default box_1" data-label="User Box Large">
            @*<div id="u160_div" class=""></div>*@
            <div id="u300_text" class="text ">
                @if (@ViewBag.InfoMessage != null)
                {@Html.Label((string)@ViewBag.InfoMessage)}
            </div>
        </div>

        <!-- Report Navigation (Dynamic Panel) -->
        <div id="u83" class="ax_default table-wrapper-scroll-y my-custom-scrollbar" data-label="Report Navigation">
            <div id="u83_state0" class="panel_state" data-label="Home" style="">
                <div id="u83_state0_content" class="panel_state_content">

                    <!-- Workspace Label (Rectangle) -->
                    <div id="u84" class="ax_default label" data-label="Workspace Label">
                        <div id="u84_div" class=""></div>
                        <div id="u84_text" class="text ">
                            <p><span>My Workspaces</span></p>
                        </div>
                    </div>

                    @if (Model != null && Model.Count() > 0)
                    {
                        for (int i = 0; i <= Model.Count() - 1; i++)
                        {
                            <div id="@("u"+i)" class="ax_default box_1" data-label="Finance">
                                <div id="@("u"+i+"_div")" class=""></div>
                                <div id="@("u"+i+"_text")" class="text ">
                                    <table id="tblViewWorkspaces" class="">
                                        <tbody>
                                            <tr>
                                                <td style="display:none;">
                                                    <input type="text" value="@Model[i].RequestID" name="RequestID" />
                                                </td>
                                                <td style="display:none;">
                                                    <input type="text" value="@Model[i].WorkspaceName" name="WorkspaceName" />
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-link btnViewReports">@Model[i].WorkspaceName</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div id="u200"> No workspaces available!</div>
                    }

                    @*< !--Finance(Rectangle)-- >*@
                    @*<div id="u85" class="ax_default box_1" data-label="Finance">
                        <div id="u85_div" class=""></div>
                        <div id="u85_text" class="text ">

                        </div>
                    </div>*@

                    @*< !--Procurement(Rectangle)-- >*@
                    @*<div id="u86" class="ax_default box_1" data-label="Procurement">
                        <div id="u86_div" class=""></div>
                        <div id="u86_text" class="text ">
                            <p><span>Procurement</span></p>
                        </div>
                    </div>*@

                    @*< !--Sales(Rectangle)-- >*@
                    @*<div id="u87" class="ax_default box_1" data-label="Sales">
                        <div id="u87_div" class=""></div>
                        <div id="u87_text" class="text ">
                            <p><span>Sales</span></p>
                        </div>
                    </div>*@

                    @*< !--Marketing(Rectangle)-- >*@
                    @*<div id="u88" class="ax_default box_1" data-label="Marketing">
                        <div id="u88_div" class=""></div>
                        <div id="u88_text" class="text ">
                            <p><span>Marketing</span></p>
                        </div>
                    </div>*@

                    @*< !--Logistics(Rectangle)-- >*@
                    @*<div id="u89" class="ax_default box_1" data-label="Logistics">
                        <div id="u89_div" class=""></div>
                        <div id="u89_text" class="text ">
                            <p><span>Logistics</span></p>
                        </div>
                    </div>*@

                    @*< !--Human Resources(Rectangle)-- >*@
                    @*<div id="u90" class="ax_default box_1" data-label="Human Resources">
                        <div id="u90_div" class=""></div>
                        <div id="u90_text" class="text ">
                            <p><span>Human Resources</span></p>
                        </div>
                    </div>*@

                    @*< !--Payroll(Rectangle)-- >*@
                    @*<div id="u91" class="ax_default box_1" data-label="Payroll">
                        <div id="u91_div" class=""></div>
                        <div id="u91_text" class="text ">
                            <p><span>Payroll</span></p>
                        </div>
                    </div>*@

                    @*< !--Unnamed(Rectangle)-- >*@
                    @*<div id="u92" class="ax_default box_1">
                        <div id="u92_div" class=""></div>
                        <div id="u92_text" class="text ">
                            <p><span>Manufacturing</span></p>
                        </div>
                    </div>*@
                </div>
            </div>
            <div id="u83_state1" class="panel_state" data-label="Reports" style="visibility:hidden;">
                <div id="u83_state1_content" class="panel_state_content">

                    <!-- Workspace Label(Rectangle) -->
                    <div id="u93" class="ax_default label" data-label="Workspace Label">
                        <div id="u93_div" class=""></div>
                        <div id="u93_text" class="text ">
                            <p><span id="spnWorkspaceName">Finance / Reports</span></p>
                        </div>
                    </div>

                    <!-- Report1(Rectangle) -->
                    <div id="u94" class="ax_default label" data-label="Report1">
                        <div id="u94_div" class=""></div>
                        <div id="u94_text" class="text ">
                            @*<p><span>Report 1</span></p>*@
                        </div>
                    </div>

                    <!-- Report2(Rectangle) -->
                    @*<div id = "u95" class="ax_default label" data-label="Report2">
                        <div id = "u95_div" class=""></div>
                        <div id = "u95_text" class="text ">
                            <p><span>Report 2</span></p>
                        </div>
                    </div>*@

                    <!-- Report3(Rectangle) -->
                    @*<div id = "u96" class="ax_default label" data-label="Report3">
                        <div id = "u96_div" class=""></div>
                        <div id = "u96_text" class="text ">
                            <p><span>Report 3</span></p>
                        </div>
                    </div>*@
                </div>
            </div>
            <div id="u83_state2" class="panel_state" data-label="Pages" style="visibility: hidden;">
                <div id="u83_state2_content" class="panel_state_content">

                    <!-- Workspace Label(Rectangle) -->
                    <div id="u97" class="ax_default label" data-label="Workspace Label">
                        <div id="u97_div" class=""></div>
                        <div id="u97_text" class="text ">
                            <p><span id="spnReportName">Finance / Reports /Pages</span></p>
                        </div>
                    </div>

                    <!-- Page1(Rectangle) -->
                    <div id="u98" class="ax_default label" data-label="Page1">
                        <div id="u98_div" class=""></div>
                        <div id="u98_text" class="text ">
                            @*<p><span>Page 1</span></p>*@
                            @*<iframe id="ifrmReport" width="840" height="500" src="https://app.powerbi.com/reportEmbed?reportId=cc005a89-fb8a-4641-a5ad-3575c089d966&autoAuth=true&ctid=86fb359e-1360-4ab3-b90d-2a68e8c007b9&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>*@
                            @*<iframe id="ifrmReport" width="840" height="500" src="" frameborder="0" allowFullScreen="true"></iframe>*@
                            <div id="reportContainer"></div>
                        </div>
                    </div>

                    <!-- Page2(Rectangle) -->
                    @*<div id = "u99" class="ax_default label" data-label="Page2">
                        <div id = "u99_div" class=""></div>
                        <div id = "u99_text" class="text ">
                            <p><span>Page 2</span></p>
                        </div>
                    </div>*@

                    <!-- Page3(Rectangle) -->
                    @*<div id = "u100" class="ax_default label" data-label="Page3">
                        <div id = "u100_div" class=""></div>
                        <div id = "u100_text" class="text ">
                            <p><span>Page 3</span></p>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>




    </div>
                @*<script src="resources/scripts/axure/ios.js"></script>*@
</body>

</html>

