@model BIPortal.Models.UsersModel
@{
    //Layout = null;
    Layout = "~/Views/Shared/_BIPortalLayout.cshtml";
    ViewBag.Title = "Add User";
}
@*@model IEnumerable<BIPortal.Models.UsersModel>*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
    <link href="~/Styles/Common/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Users/AddUser_Styles.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")*@

    <script language="JavaScript" type="text/javascript" src="~/Scripts/Users/AddUser.js"></script>
    <script type="text/javascript">
        var geRightsurl = '@Url.Action("GetRights", "Users")';
        var SaveUserRightsurl = '@Url.Action("AddUser", "Users")';
        var RoleID = [];
        var selectedItems = [];
    </script>




</head>
<body>

    @using (Html.BeginForm())
    {

        @*<div id="base" class="">*@

        <!-- User Panel (Dynamic Panel) -->
        <div id="u1311" class="ax_default" data-label="User Panel">

            <!-- SaveCloseButton (Shape) -->
            <div id="u1312" class="ax_default button" data-label="SaveCloseButton">
                <div id="u1312_text" class="text ">
                    @*<input id="btnViewRights" value="Apply Roles" type="submit" class="btnViewRights" style="width:175px" />*@
                    <input id="btnViewRights" value="Apply Roles" type="button" class="btnViewRights" style="width:175px" />
                </div>
            </div>

            <!-- CloseButton (Shape) -->
            <div id="u1313" class="ax_default button" data-label="SaveCloseButton">
                <div id="u1312_text" class="text ">
                    @*<input id="submit" value="Close Without Saving" type="button" style="width:175px" onclick="@("window.location.href='" + @Url.Action("ViewUser", "Users") + "'")" ; />*@
                    @*<input id="btnAddUser" type="submit" name="button" value="Save &amp; Send for Approval" style="width:175px" />*@

                    <input id="btnAddUser" type="submit" name="button" value="Save &amp; Send for Approval" style="width:175px" />
                </div>
            </div>

            <!-- Apply RolesButton (Shape) -->
            <div id="u1377" class="ax_default button" data-label="CloseButton">
                <div id="u1377_text" class="text ">
                    @*<input id="Applyroles" value="Apply Roles" type="button" style="width:175px" onclick="alert('Close  Clicked')" />*@
                    <input id="btnAddUser" value="Close Without Saving" type="button" style="width:175px" onclick="@("window.location.href='" + @Url.Action("ViewUser", "Users") + "'")" ; />
                </div>
            </div>


            <!-- EmailID label (Rectangle) -->
            <div id="u1314" class="ax_default label">
                @Html.Label("Email ID", "Email ID")
            </div>


            <!-- EmailID (Text Field) -->
            <div id="u1315" class="ax_default text_field">
                @*@Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", style = "height:28px;", @required = "required" })*@
                @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", style = "height:28px;" })
                &nbsp;
                @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "error" })
            </div>


            <!-- Salutation label (Rectangle) -->
            <div id="u1373" class="ax_default label">
                @Html.Label("Salutation", "Salutation")
            </div>

            <!-- Salutation (Droplist) -->
            <div id="u1374" class="ax_default droplist">
                @Html.DropDownListFor(model => model.Salutation, ViewBag.Salutation as SelectList, null, new { @class = "form-control", style = "height:28px;" })
            </div>

            <!-- FirstName label (Rectangle) -->
            <div id="u1316" class="ax_default label">
                @Html.Label("First Name", "First Name")
            </div>

            <!-- FirstNmae (Text Field) -->
            <div id="u1317" class="ax_default text_field">
                @*@Html.TextBox("myTextBox", "FirstName", new { @class = "form-control", style = "height:28px;" })*@
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", style = "height:28px;" })
                &nbsp;
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "error" })
            </div>

            <!-- Last Name label (Rectangle) -->
            <div id="u1318" class="ax_default label">
                @Html.Label("Last Name", "Last Name")
            </div>

            <!-- LastName  (Text Field) -->
            <div id="u1319" class="ax_default text_field">
                @* @Html.TextBox("myTextBox", "LastName", new { @class = "form-control", style = "height:28px;" })*@
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", style = "height:28px;" })
                &nbsp;
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "error" })
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1320" class="ax_default label">
                @*<p><span>Creation Date</span></p>*@
                @*@Html.Label("Creation Date", "Creation Date")*@
                @Html.Label("Permission Type", "Permission Type")
            </div>

            <!-- Creation Date (Text Field) -->
            <div id="u1321" class="ax_default text_field" data-label="Creation Date">
                @*@Html.TextBoxFor(model => model.CreatedDate, new { @type = "date", @class = "form-control datepicker", style = "height:28px;" })*@
                @Html.DropDownListFor(model => model.PermissionID, (IEnumerable<SelectListItem>)ViewBag.PermissionTypes, null, new { @class = "form-control", style = "height:28px;" })
            </div>

            <!-- Active (Checkbox) Label (Rectangle) -->
            <div id="u1323" class="ax_default label">
                @*@Html.Label("Permission Type", "Permission Type")*@
                @Html.Label("Active", "Active")
            </div>

            <!-- Active (Checkbox) DropDown (Droplist) -->
            <div id="u1324" class="ax_default droplist">
                @Html.CheckBoxFor(model => model.Active, new { @id = "ActiveStatus", @checked = true })
            </div>

            <!-- Role Selection label (Checkbox) -->
            <div id="u1322" class="ax_default checkbox selected" data-label="Active">
                @Html.Label("Role Selection", "Role Selection")
            </div>

            <!-- Role Selection (List Box) -->
            <div id="u1376" class="ax_default list_box">

                @Html.ListBoxFor(model => model.SelectedRolesValues, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "listbox", @id = "lstSelect" })
                &nbsp;
                @Html.ValidationMessageFor(m => m.SelectedRolesValues, "", new { @class = "error" })


            </div>

        </div>

        <!-- Welcome In (Rectangle) -->
        <div class="ax_default label" id="u123" data-label="Welcome In" style="visibility:hidden;">
            <div id="u123_div"></div>
            <div class="text " id="u123_text">
                <p><span>ADMINISTRATION - Add User</span></p>
            </div>
        </div>

        <!-- Welcome out (Rectangle) -->
        <div id="u654" class="ax_default label" data-label="Welcome out">
            <div id="u654_div" class=""></div>
            <div id="u654_text" class="text ">
                <p><span>ADMINISTRATION - Add User</span></p>
            </div>
        </div>

        <!-- RolesEditPanel (Dynamic Panel) -->
        <div id="u425" class="ax_default" data-label="RolesEditPanel" style="display:none">
            <div id="u425_state0" class="panel_state" data-label="State1" style="">
                <div id="u425_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u426" class="ax_default box_1">
                        <div id="u426_div" class=""></div>
                        <div id="u426_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u427" class="ax_default box_1">
                        <div id="u427_div" class=""></div>
                        <div id="u427_text" class="text ">
                            <input type="hidden" name="selectedItems" id="selectedItems" />
                            <label id="lblRoleName" style="color:black" />
                        </div>
                    </div>


                    <!-- PurchaseWsPanel (Dynamic Panel) -->
                    <div id="u452" class="ax_default" data-label="PurchaseWsPanel" style="display:none">


                    </div>


                </div>
            </div>
        </div>

        @*</div>*@


    }



</body>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")*@

</html>
