@model BIPortal.Models.UsersModel
@{
    //Layout = null;
    Layout = "~/Views/Shared/_BIPortalLayout.cshtml";
    ViewBag.Title = "Edit User";
}
@*@model IEnumerable<BIPortal.Models.UsersModel>*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Load Edit User</title>
    <link href="~/Styles/Users/EditUser_Styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Common/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/MyProfile/MyProfile_Styles.css" type="text/css" rel="stylesheet" />


    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script language="JavaScript" type="text/javascript" src="~/Scripts/Users/EditUser.js"></script>
    <script type="text/javascript">
        var geRightsurl = '@Url.Action("GetEditUserRights", "Users")';
        //var SaveUserRightsurl = '@Url.Action("AddUser", "Users")';
        var userID;
        var selectedItems = [];
        var loadselectedroles = [];
    </script>

</head>

<body>


    @using (Html.BeginForm("EditUser", "Users", FormMethod.Post))
    {

    <div id="base" class="">

        <!-- Welcome In (Rectangle) -->
        <div class="ax_default label" id="u123" data-label="Welcome In" style="visibility:hidden;">
            <div id="u123_div"></div>
            <div class="text " id="u123_text">
                <p><span>ADMINISTRATION - Edit User</span></p>
            </div>
        </div>

        <!-- Welcome out (Rectangle) -->
        <div id="u654" class="ax_default label" data-label="Welcome out">
            <div id="u654_div" class=""></div>
            <div id="u654_text" class="text ">
                <p><span>ADMINISTRATION - Edit User</span></p>
            </div>
        </div>

        <!-- User Panel (Dynamic Panel) -->
        <div id="u1581" class="ax_default" data-label="User Panel">
            <div id="u1581_state0_content" class="panel_state_content">

                <div id="u3000" class="ax_default heading_1" data-label="Email">
                    <div id="uu3000_text" class="text ">
                        @if (@ViewBag.ErrorMessage != null)
                        {@Html.Label((string)@ViewBag.ErrorMessage)}
                        <br>
                    </div>
                </div>

                <!-- EmailID label (Rectangle) -->
                <div id="u1314" class="ax_default label">
                    @Html.Label("Email ID", "Email ID")
                </div>


                <!-- SaveCloseButton (Shape) -->
                <div id="u1312" class="ax_default button" data-label="SaveCloseButton">
                    <input id="btnViewRights" value="Apply Roles" type="button" class="btnViewRights" style="width:175px" />
                </div>

                <!-- CloseButton (Shape) -->
                <div id="u1313" class="ax_default button" data-label="CloseButton">
                    @*<input id="submit" type="submit" name="button" value="Save &amp; Close" style="width:175px" />*@
                    <input id="btnAddUser" type="submit" name="button" value="Save &amp; Send for Approval" style="width:175px" onclick="location.href='@Url.Action("EditUser", "Users")" />
                </div>


                <!-- CloseButton (Shape) -->
                <div id="u1377" class="ax_default button" data-label="CloseButton">
                    <input id="btnAddUser" value="Close Without Saving" type="button" style="width:175px" onclick="@("window.location.href='" + @Url.Action("ViewUser", "Users") + "'")" ; />
                </div>


                <!-- Unnamed (Text Field) -->
                <div id="u1315" class="ax_default text_field disabled">
                    @Html.HiddenFor(Model => Model.UserID)
                    @Html.TextBoxFor(Model => Model.EmailID, new { @class = "form-control", style = "height:28px;" })
                </div>


                <!-- FirstName label (Rectangle) -->
                <div id="u1316" class="ax_default label">
                    @Html.Label("First Name", "First Name")
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1585" class="ax_default text_field disabled">
                    @Html.TextBoxFor(Model => Model.FirstName, new { @class = "form-control", style = "height:28px;" })
                </div>


                <!-- Last Name label (Rectangle) -->
                <div id="u1318" class="ax_default label">
                    @Html.Label("Last Name", "Last Name")
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1587" class="ax_default text_field disabled">
                    @Html.TextBoxFor(Model => Model.LastName, new { @class = "form-control", style = "height:28px;" })
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u158888" class="ax_default label">
                    @Html.Label("Creation Date", "Creation Date")
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u1589" class="ax_default text_field disabled">
                    @Html.TextBoxFor(Model => Model.CreatedDate, new { @class = "form-control", style = "height:28px;", @disabled = "disabled" })
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u1314444" class="ax_default label">
                    @Html.Label("Permission Type", "Permission Type")
                </div>

                <!-- Unnamed (Droplist) -->
                <div id="u1591" class="ax_default droplist disabled">
                    @Html.DropDownListFor(model => model.PermissionID, (IEnumerable<SelectListItem>)ViewBag.PermissionTypes, null, new { @class = "form-control", style = "height:30px;" })
                </div>


                <!-- BI Object type label (Rectangle) -->
                <div id="u132088" class="ax_default label">
                    @Html.Label("BI-Object Type", "BI-Object Type")
                </div>

                <!-- BI Object typedropdown -->
                <div id="u1321567" class="ax_default text_field" data-label="Creation Date">
                    @Html.DropDownListFor(model => model.BIObjectType, ViewBag.BiObjType as SelectList, null, new { @class = "form-control", style = "height:30px;" })
                    @*@Html.DropDownListFor(model => model.PermissionID, (IEnumerable<SelectListItem>)ViewBag.PermissionTypes, null, new { @class = "form-control", style = "height:28px;" })*@
                </div>

                <!-- DeactButton (Shape) -->
                @*<div id="u1050" class="ax_default button" data-label="DeactButton">
            <input id="submit" type="submit" name="button" value="Deactivate User" style="width:175px" />
        </div>*@


                <!-- Salutation label (Rectangle) -->
                <div id="u1373" class="ax_default label">
                    @Html.Label("Salutation", "Salutation")
                </div>

                <!-- Salutation (Droplist) -->
                <div id="u1374" class="ax_default droplist">
                    @Html.DropDownListFor(model => model.Salutation, ViewBag.Salutation as SelectList, null, new { @class = "form-control", style = "height:30px;" })
                </div>

                <!-- Active label (Checkbox) -->
                <div id="u1322" class="ax_default checkbox selected" data-label="Active">
                    @Html.Label("Active", "Active")
                </div>

                <!-- Active (Checkbox) -->
                <div id="u13191" class="ax_default">
                    @Html.CheckBoxFor(model => model.Active, new { @id = "ActiveStatus" })
                </div>

                <!-- Role Selection label (Checkbox) -->
                <div id="u1322322" class="ax_default checkbox selected" data-label="Active">
                    @Html.Label("Role Selection", "Role Selection")
                </div>

                <!-- Role Selection (List Box) -->
                <div id="u1376" class="ax_default list_box">
                    @Html.ListBoxFor(model => model.SelectedRolesValues, (IEnumerable<SelectListItem>)ViewBag.RoleSelection, new { @class = "listbox", @id = "lstSelect" })
                    &nbsp;
                    @Html.ValidationMessageFor(m => m.SelectedRolesValues, "", new { @class = "error" })
                </div>

            </div>
        </div>


        <!-- RolesEditPanel (Dynamic Panel) -->
        <div id="u425" class="ax_default" data-label="RolesEditPanel" style="display:none">
            <div id="u425_state0" class="panel_state" data-label="State1" style="">
                <div id="u425_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u426" class="ax_default box_1">
                        <div id="u426_div" class=""></div>
                        <div id="u426_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u427" class="ax_default box_1">
                        <div id="u427_div" class=""></div>
                        <div id="u427_text" class="text ">
                            <input type="hidden" name="selectedItems" id="selectedItems" />
                            <label id="lblRoleName" style="color:black" />
                        </div>
                    </div>


                    <!-- PurchaseWsPanel (Dynamic Panel) -->
                    <div id="u452" class="ax_default" data-label="PurchaseWsPanel" style="display:none">


                    </div>


                </div>
            </div>
        </div>

    </div>

    }

</body>
@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")*@

</html>
